.cart {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  background-color: #fffaf5;
}

.cart h1 {
    color: #cc5200;
    margin-bottom: 1rem;
    text-align: left;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: #fff7f2;
  padding: 1rem;
  border-radius: 8px;
}

.cart-img {
  width: 200px;
  height: auto;
  border-radius: 6px;
}

.cart-details h3 {
  margin: 0;
  color: #333;
}

.cart-summary {
  background-color: #ffe0cc;
  padding: 2rem;
  border-radius: 8px;
  min-width: 200px;
  max-height: fit-content;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 2rem;
}

.cart-summary h2 {
  color: #cc5200;
  margin-bottom: 1rem;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.clear-btn {
  background-color: #ff6347;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.clear-btn:hover {
  background-color: #ff3d1f;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.quantity-controls button {
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  background-color: #ffb380;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-controls span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.remove-btn {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.remove-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.remove-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.checkout-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #ffa94d;
  color: white;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  border: none;
  transition: background-color 0.2s ease;
}

.checkout-btn:hover {
  background-color: #ff8c1a;
  cursor: pointer;
}
