 .home {
  background-color: #fff2e6;
  padding: 3rem 2rem;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.home h1 {
  font-size: 2.5rem;
  color: #cc5200;
  margin-bottom: 0.5rem;
}
.home h2 {
  font-size: 2rem;
  color: #cc5200;
  margin-bottom: 2rem;
}

.home p {
  font-size: 3rem;
  color: #cc5200;
  margin-bottom: 2rem;
}

.popular-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  background-color: #fff7f2;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(105%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.product-card h3 {
  margin: 0.5rem 0 0.2rem;
  font-size: 1.8rem;
}

.product-card p {
  margin: 0;
  color: #444;
  font-weight: bold;
}

.card-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}