 .home {
  background-color: #fff2e6;
  padding: 3rem 2rem;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero-text {
  background-color: #fff0e0;
  border-color: 6px solid #cc5200;
  padding: 1.5rem 2rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 3rem;
  color: #cc5200;
  margin-bottom: 1rem;
}

.hero-text h1 span {
  color: #ffa07a;
}

.hero-text p {
  font-size: 1.5rem;
  color: #444;
  font-weight: 500;
  background-color: #ffe8d9;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 8px;
}

.home h2 {
  background-color: #ffa07a;
  color: white;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 2rem;   
}

.home p {
  font-size: 3rem;
  color: #cc5200;
  margin-bottom: 1rem;
}

.popular-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  background-color: #fff7f2;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(105%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.product-card h3 {
  margin: 0.5rem 0 0.2rem;
  font-size: 1.8rem;
}

.product-card p {
  margin: 0;
  color: #444;
  font-weight: bold;
}

.card-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.product-section {
  background-color: #ffe8d9;
  max-width: 1500px;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.product-card button {
  background-color: #ff8c42;
  color: white;
  border: none;
  margin-top: 0.5rem;
  border-radius: 8px;
  font-size: 1.5rem; /* öka textstorlek */
  padding: 0.5rem 1rem; /* öka padding för bättre klickbarhet */
  font-weight: bold; /* gör texten tydligare */
  cursor: pointer;
}

.product-card button:hover {
  background-color: #cc5200;
}