.logo {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  background-color: #ffa07a;
  padding: 1rem 2rem;
  display: flex;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.navbar-links a:hover {
  color: #ffe5d0; /* 🟠 Orange text vid hover */
  background-color: #a8590e; /* Ljus bakgrund för highlight */
  border-radius: 4px;
}