* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-logo {
  background-color: #cc5200;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.navbar {
  width: 100%;
  background: rgba(255, 160, 122, 0.9);
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: center;
  
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.navbar-links a:hover {
  color: #ffe5d0;
  background-color: #a8590e;
  border-radius: 4px;
}

.cart-count {
  background-color: #cc5200;  
  color: white;               
  padding: 4px 8px;           
  border-radius: 50%;         
  font-size: 14px;            
  font-weight: bold;          
  margin-left: 5px;           
  display: inline-block;
  min-width: 20px;           
  text-align: center;         
}